<header>
  <h2>Les directives</h2>
</header>
<ul>
  <li>
    Les directives structurelles : Elles ont pour but de modifier le DOM en
    ajoutant, enlevant ou replaçant un élément du DOM.
  </li>

  <li>
    Les directives d'attributs : Elles ont pour but de modifier l'apparence ou
    le comportement d'un élément.
  </li>
</ul>

<p>Tous les attributs HTML, existe sous la forme d'une directive angular</p>
<p>
  Un composant Angular, est une directive particulière (1 fichier .ts (logique)
  et 1 fichier .html (vue))
</p>
